@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --text: #e3f2e8;
    --background: #243642;
    --primary: #829fa1; 
    --secondary: rgba(172, 202, 192, 0.671);
    --accent: #2e7a60;

}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size:1.4rem;
    background-color:var(--background);
    color:var(--text);
}

#game {
    font-family: 'Roboto-Mono', monospace;
    font-weight: 400;
    line-height: 35px;
    height: 105px;
    overflow: hidden;
}
  

main {
    width: 600px;
    margin: 50px auto;
}

h1 svg{
    width:40px;
}
h1{
    color:var(--primary);
}

.actions {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    margin: 25px 6px 35px;
}
button {
    text-align: right;
    background:rgba(25, 180, 129, 0.527);
    border:0;
    color:var(--text);
    padding: 5px 20px;
    border-radius: 5px;
    cursor:pointer;
    transition: background-color 0.2s ease-in-out;
}
button:hover {
    background:rgba(25, 180, 129, 0.7);
    filter: brightness(1.2);
}
button:focus-visible {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
}
div.word {
    display: inline-block;
    margin: 0 5px;

}


#words {
    filter:blur(7px);
    color:var(--secondary);
}

#game:focus #words{
    filter:blur(0px);

}
#focus {
  text-align: center;
  position: absolute;
  inset:0;
  display:flex;
  justify-content: center;
  margin-top: 11.5%;
}
#game:focus #focus{
    display:none;
}

.letter.correct {
    color:green;
}

.letter.incorrect {
    color:rgb(235, 50, 50);
}


/* 
.cursor {
    display:inline-block;
} */

.word.current > .letter.current {
    border-left: 2px solid;
    animation:
    blink 1s step-end infinite;
    border-left: 2px solid;
}

.word.current > .letter#last {
    border-right: 2px solid;
    animation:
    blink 1s step-end infinite;
    border-right: 2px solid;
}



@keyframes blink {
    50% {border-color: transparent}
}

#game.over {
    filter:blur(7px);
}
